body {
  background-color: #282c34;
  color: white;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  flex-direction: column;
}

.border{
  border: 2px solid white;
  height: 20em;
}

.selector {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 60vw;
  height: 50vh;
  background-color: #1d2026;
}

.left {
  margin: 5em;
}

.right {
  margin: 5em;
}

.values {
  display: flex;
  flex-direction: row;
}

.sidePanel{
  width: 20vw;
  background: #1d2026;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.loading {
  margin-top: 2em;
}
.settings{
  display: flex;
  margin: 1em;
  justify-content: space-between;
  flex-direction: column;
}
.example {
  background-color: #1d2026;
  padding: 1em;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.example p {
margin-top: 0;
}
.example:hover{
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.settings p{
  margin: 0;
}
.layoutSettings {
  padding-left: 2em;
  padding-right: 2em;
}