/*
#2D7DD2
#97CC04
#EEB902
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
  background-color: #282c34;
  color: white;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

button{
  border-radius: 10px;
  padding: 0.5em;
  background-color: #2D7DD2;
  border-style: none;
  margin: 0.5em;
  color: white;
  font-weight: 700;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.85em;
  opacity: 0.85;
  transition: 0.3s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

button:hover{
  opacity: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
hr{
  width: 75%;
  border-top: 1px solid #8c8b8b;
  margin-top: 1em;
  margin-bottom: 1em;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  flex-direction: column;
}

.border{
  border: 2px solid white;
  height: 30em;
}

.selector {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 60vw;
  height: 50vh;
  background-color: #1d2026;
}

.left {
  margin: 5em;
}

.right {
  margin: 5em;
}

.values {
  display: flex;
  flex-direction: row;
}

.sidePanel{
  width: 20vw;
  background: #1d2026;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.loading {
  margin-top: 2em;
}
.settings{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.settings > * {
  margin: 0.3em;
}
.settingsCattegory{
  margin-left: 2em;
  margin-right: 2em;
}
.settingsCattegory > h2{
margin-top: 0;
margin-bottom: 0.5em;
text-transform: uppercase;
text-align: center;

}
.example {
  background-color: #1d2026;
  padding: 1em;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin-top: 1em;
  margin-bottom: 1em;
}

.example p {
margin-top: 0;
}
.example:hover{
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.settings p{
  margin: 0;
}
.layoutSettings {
  padding-left: 2em;
  padding-right: 2em;
}