body {
  background-color: #282c34;
  color: white;
  font-family: "Open Sans", Helvetica, sans-serif;
}

hr {
  width: 75%;
  border-top: 1px solid #8c8b8b;
  margin-top: 1em;
  margin-bottom: 1em;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  flex-direction: column;
}

.border {
  border: 2px solid white;
  height: 30em;
}

.selector {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 60vw;
  height: 50vh;
  background-color: #1d2026;
}

.left {
  margin: 5em;
}

.right {
  margin: 5em;
}

.values {
  display: flex;
  flex-direction: row;
}


.loading {
  margin-top: 2em;
}

.example {
  background-color: #1d2026;
  padding: 1em;
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin-top: 1em;
  margin-bottom: 1em;
}

.example p {
  margin-top: 0;
}
.example:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 600px) {
  .center {
    
    display: flex;
    flex-direction: column;
  }

  .border {
    display: none;
  }
  
}
